# This is the standard configuration file for Windows
# systems. On Linux it can be substituted for harmless7drl.cfg
# to run TCOD even though curses is available.
# The source package is not distributed with libtcod or
# SDL. You'll need to ensure that SDL is present and libtcod.so
# is present in the directory Harmless is running from.

[general]
# Where to write savefiles and logfiles? Standard: "gamedir".
# Alternate choice for Windows: "win32appdata"
writedir=gamedir

[tcod]
# The terminal should be at least 80x25.
force=yes
width=80
height=25
font=fonts/harmless-font-13x23.png
fontlayout=tcod

# TCOD being a truecolour display, we can override the menu
# colours with something prettier.
prettymenu=yes

[colours]
# Some terminals have trouble displaying bold black on black.
# If the bomber beetles seem invisible, you are suffering from
# this. If so, set blackOnBlack to something other than "black".
# You may need to start a new game to see the effect of a new
# setting.
# "blue" is suggested; just uncomment the following line.
blackOnBlack=black
